
@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #00008b;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Noto Kufi Arabic", sans-serif;
  --font-display: "Noto Kufi Arabic", sans-serif;
}

@import "./theme.css";
@import "./typography.css";
@import "./pagefind.css";
@import "tom-select/dist/css/tom-select.default.css";
@import "./components.css";
